@import url('Home%20Page%20CSS.css');

/* CSS to center the video */
.video-container {
	padding-left:130px;
}

/* Styles for the content container */
.content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Add some space between video and paragraph */
}

/* Styles for the left side (video) */
.left-content {
    flex: 1;
    padding: 0 10px;
}

/* Styles for the right side (paragraph) */
.right-content {
    flex: 2;
    background-color: #f4f4f4;
    padding: 25px;
    text-align: left;
}

/* Styles for the video */
iframe {
	padding-left:100px;
    
}

/* Additional styles as needed */

.container {
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    margin-top: 20px;
}

.image-box {
    float: left; /* Float the image to the left */
    width: 500%; /* Set the width for the image container */
    padding-left: 250px; /* Add some spacing between the image and text */
}

.paragraph-box {
    width: 1000%; /* Set the width for the paragraph container */
	padding-right:250px;
}

/* Clear the float to prevent unwanted behavior in subsequent elements */
.container::after {
    content: "";
    display: table;
    clear: both;
}


img {
    max-width: 100%; /* Ensure the image doesn't exceed the container's width */
}

.screenshot{
	text-align:center;
	padding-left:350px;
}

.container2 {
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    margin-top: 20px;
}

.image-box2 {
    float: left; /* Float the image to the left */
    width: 500%; /* Set the width for the image container */
    padding-left: 250px; /* Add some spacing between the image and text */
}

.text-box2 {
 width: 1000%; /* Set the width for the paragraph container */
	padding-right:250px;}

/* Clear the float to prevent unwanted behavior in subsequent elements */
.container2::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: #0097B2; /* Light blue background color */
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 10px;
}